<div class="row categories-banner">
    <div class="col-sm-12 cold-md-8 col-md-offset-1 col-lg-12">
        <div class="row categories">
            <div class="col-xs-3 col-md-1">
                <a href="/">Home</a>
            </div>
            <div class="col-xs-3 hidden-xs col-md-2 hidden-sm hidden-md category-title-container">
                <span class="category-title">Categories:</span>
            </div>
            <div class="col-xs-3 col-md-2 category-container economics">
                <a href="/economics.html" class="category">Economics</a>
            </div>
            <div class="col-xs-3 col-md-2 category-container leadership">
                <a href="/leadership.html" class="category">Leadership</a>
            </div>
            <div class="col-xs-3 col-md-2 category-container webdev">
                <a href="/webdev.html" class="category">Web Dev</a>
            </div>
        </div>
    </div>
</div>
<div class="row categories-banner-blue"></div>